* {
    box-sizing: border-box;
}

body {
    width: 96vw; 
    padding: 0.25vh 2vw; 
    background-color: #24273a; color: #cad3f5;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw; 
}

#header {
    top: 0.25vh;  
    position: sticky;
    font-size: 1.5vw;
    background-color: #1e2030;
    display: grid; 
    border-radius: 5px;
    grid-template-rows: 20vh;
    grid-template-columns: 20vw, repeat(4, 19vw);
    align-items: center;
    justify-items: center;
    font-size: 100%;
}

#title { grid-area: 1 / 1; }
#links { 
    grid-area: 1 / 2 span 3; 
    display: flex;
    gap: 1.5vw;
}
#desc { grid-area: 1 / 4;}
#menu_icon { grid-area: 1 / 5; }

#hero_sctn {
    width: 100%; height: 80vh;
    display: grid;
    grid-template-rows: 40vh, 40vh;
    grid-template-columns: 64vw, 32vw;
    align-items: center;
    justify-items: center;
}

#footer {
    transform: translateY(15vh);
    background-color: #1e2030; 
    padding: 10px; border-radius: 5px;
}

#works_list {
    opacity: 0; 
}

p { color: #b8c0e0; }

h1 { color: #f5a97f; font-size: 3vw;}

a {
    color: #24273a;
    border-radius: 5px;
    text-decoration: none;
    font-family: inherit; font-size: inherit; padding: 5px; 
}

.hover:hover {
    background-color: #cad3f5;
}
